*{
    margin: 0;
    padding: 0;

}


html, body {
    height: 100%;
    font-family: monospace;
    font-size: 18px;
    color: white;
    background-color: rgb(43, 37, 80);
}

.text_box{
    border-radius: 5px;
    max-width: 700;
    padding: 15px;
    background-color: rgb(75, 66, 124);
}

nav{
    display: flex;
    padding: 1vh;
    background: #224;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

main{
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centrado perfecto */
    height: 100px;
    color: white;
    border-radius: 10px;
}

main header{
    display: flex;
    justify-content: space-between;
}

#time{
    font-weight: 600;
    font-size: 22px;
}

input{
    opacity: 0;
}

letter{
    color: #aaa;
    position: relative;
    font-size: 35px;

    &.active::before {
        content: '|';
        color: aliceblue;
        position: absolute;
        left: -50%;
        transition: 102ms;
    /*  animation: 1s blink infinite ease-in-out; */
    }
    &.active.is-last::before {
        left: 50%;

    }
    &.correct{
        color: aliceblue;
    }
    &.incorrect{
        color: rgb(170, 55, 55);
    }
    
}


/* @keyframes blink {
    0%, 20%{
        opacity: 1;
    }

    75% {
        opacity: 0;
    }
} */