*{
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: 18px;
    color: white;
}

body{
    background-color: rgb(43, 37, 80);
    padding: 4rem;	
	margin: auto;
}

.text_box{
    border: 2px solid white;
    border-radius: 5px;
    max-width: 700;
    padding: 15px;
    background-color: rgb(75, 66, 124);
}

main span{
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

#time{
    font-weight: 600;
    font-size: 22px;
}

button{
    background-color: rgb(255, 255, 255);
    color: #444;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 40%;
}